.cardOrderDetail{
    margin:2rem 0;
    &__rowDetail{
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        label{
            font-size : 18px;
            font-weight: 500;
        }
    }
}