.cardOrderDetail{
    margin:2rem 0;
    &__rowDetail{
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        label{
            width: 20%;
            font-size : 18px;
            font-weight: 500;
        }
        p{
            margin :0;
        }
    }
}