.cardOrderDetail{
    margin:2rem 0;
    &__rowDetail{
        display: flex;
        justify-content: center;
        &--labelDetail{
            font-size : 18px;
            font-weight: 500;
        }
    }
}