.cardTable{
    margin: 2rem 0;
    background-color: white;
    &__title{
        border: 1px solid #992ab2;
        border-radius: 5px;
        padding: 1rem 2rem;
        background-color: #992ab2;
    }
    h5{
        margin:0;
        padding: 1rem ;
        color: white;
    }
}