.header{
    display: flex; 
    justify-content: space-between;
    padding: 1.5rem 0;
    background-color: #992ab2;
    border: 1px solid #992ab2;
    border-radius: 5px;
    &__title{
        padding: 1rem 2rem ;
        color: white;
    }
    &__logOutAdmin{
        padding: 1rem 2rem;
        button{
            border: 1px solid #992ab2;
            background-color: #992ab2;
        }
        button:hover{
            border: 1px solid black;
        }
    }
}