.cardHeader{
    &__header{
        display: flex; 
        color: #ccc;
        font-weight: bold;
        height: 50px;
        bottom: 0;
        left: 0;
        background-color: white;
        padding: 0 1%;
    }
}