html, body {
  min-height: 100%;
  background-color: #eeeeee;
}
.App {
  min-height: 100%;
  margin: 0;
}
.btnSubmit{
  padding: 1.5rem 0;
}
body {
  background: linear-gradient(190deg, #ffffff 60%, #1E90FF 60%);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@import "navlink";
@import "header";
@import "cardtable";
@import "contentmanageproduct";
@import "contentmanagecategory";
@import "contentmanagepublish";
@import "contentmanageuser";
@import "contentmanageorder";