html, body {
  min-height: 100%;
  background-color: #eeeeee;
}
.App {
  min-height: 100%;
  margin: 0;
}
.btnSubmit{
  padding: 1.5rem 0;
}
body {
  background: rgb(130,190,255);
background: linear-gradient(90deg, rgba(130,190,255,1) 0%, rgba(203,228,255,1) 34%, rgba(239,242,244,1) 75%);
}
table{
  overflow-y: scroll;
  height: 100px;
}
@import "navlink";
@import "header";
@import "cardtable";
@import "contentmanageproduct";
@import "contentmanagecategory";
@import "contentmanagepublish";
@import "contentmanageuser";
@import "contentmanageorder";