.navLink{
    margin: 1rem 0;
  
  .navLink a{
    display: block;
    text-decoration: none;
    padding:1rem 1rem;
    width: 70%;
    margin: auto;
  }
  .navLink a:visited{
    color: black;
  }
  .navLink__icon{
    padding: 0 0.5rem;
  }
  
  .viewAdmin{
    display: flex;
    height: 100%;
  }
  .viewAdmin__nav{
    background-color: white;
    min-width: 20%;
    height: 100%;
    box-shadow: 10px 0 5px -2px #888;
  }
  
  .viewAdmin__nav__header img{
    min-width: 100%;
  }
  .viewAdmin__nav__body{
    height: 100vh;
    margin: 2rem 0;
  }
  .viewAdmin__content{
    padding: 0 2%;
    max-width: 80%;
    
  }
}